.loader {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 48px;
  height: 48px;

  border: 3px solid var(--inverted-bg-color);
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 50%);

  box-sizing: border-box;
  width: 16px;
  height: 16px;

  background: #ff3d00;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
