.Card {
  padding: 24px;
}

.fullHeight {
  height: 100%;
}

// variant

.light {
  background: var(--light-bg-redesigned);
}

.outlined {
  border: 1px solid var(--accent-redesigned);
}

// border-radius

.normal {
  background: var(--dark-bg-redesigned);
  border-radius: 12px;
}

.round {
  border-radius: 40px;
}

.parial {
  border-radius: 20px;
}

// width

.fullWidth {
  width: 100%;
}

// padding

.gap0 {
  padding: 0;
}

.gap8 {
  padding: 8px;
}

.gap16 {
  padding: 16px;
}

.gap24 {
  padding: 24px;
}
